.main {
  margin-top: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-right: 50px;
}

.carousel {
  text-align: center;  /* centers thumbnails horizontally */
}

.carousel .thumb  {
  width: 5%;
  height: 50px;
}

.imageContainer {
  max-height: 70vh;
  width: auto;
}

.image {
  /* FIXME: fix height */
  /* max-width: 100%; */
  /* max-height: 640px; */
  max-height: 34vw;
  min-height: 500px; /* NOTE: this messes up the thumbnail height*/
  object-fit: scale-down;
}

.right {
  min-height: 580px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.model h1 {
  font-size: 52px;
  font-weight: 600;
}

.model h2 {
  font-size: 40px;
  font-weight: 400;
}

.model p {
  font-size: 30px;
  font-weight: 300;
}

.ANIMATION {
  display: flex;
}

.cartIcon {
  margin-right: 6px;
}

.button {
  background-color: #151515;
  width: 140px;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button:hover {
  background-color: #4e4e4e;
}

.bounce:active {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
  }
  }
  
  @keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
  }
  } 