.footer {
    height: 56px;
    background-color: #151515;
    color: white;
}

.content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12px;
}

.icon {
    margin: 0 8px 0 24px;
}