.header {
  background-color: #151515;
  height: 78px;
  color: white;
}

.headerItems {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.about {
  margin-left: 14px;
  cursor: pointer;
  font-size: 20px;
}

/* .title {
    font-size: 22px;
    width: 10px;
} */

/* .headerItemsLeft {

} */

.logo {
  cursor: pointer;
}

.cart {
  margin-right: 14px;
  cursor: pointer;
  font-size: 26px;
}

/* cart popover */
.yourCart {
  padding: 10px 12px 0 12px;
  color: #858585;
  text-align: center;
}

.image {
  height: 100px;
  padding: 4px;
}

.popoverContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: #b8b8b8 1px solid;
}

.popover {
  margin: 8px 4px;
  padding: 10px 12px 0 12px;
  display: flex;
}

.popoverText {
  margin-left: 14px;
}

.brand {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: -14px;
}

.model {
  font-size: 18px;
  margin-bottom: -14px;
}

.price {
  font-size: 16px;
}

.xIcon {
  cursor: pointer;
  font-size: 22px;
  margin: 20px 10px 0px 0px;
}

.popoverLast {
  padding: 10px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* end of cart popover style */