.header {
  background-color: #151515;
  height: 78px;
  color: white;
}

.headerItems {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.about {
  margin-left: 14px;
  cursor: pointer;
  font-size: 20px;
}

/* .title {
    font-size: 22px;
    width: 10px;
} */

/* .headerItemsLeft {

} */

.logo {
  cursor: pointer;
}

.cart {
  margin-right: 14px;
  cursor: pointer;
  font-size: 26px;
}

.yourCart {
  padding: 10px 12px 0 12px;
  color: #858585;
  text-align: center;
}

.popover {
  padding: 10px 12px 0 12px;
  display: flex;
  justify-content: space-between;
}

.xIcon {
  cursor: pointer;
  margin: 4px 0 0 10px;
  
}

.popoverLast {
  padding: 10px 12px;
}

/* .textInput {
    width: 20vw;
    padding: 10px 16px;
    border-radius: 40px;
    border: white;
} */
