.message {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center; /* centers elements horizontally */
    flex-wrap: wrap;  /* enables multi-line flex */
    max-width: 100vw;  /* beyond 100vw, another line will be created */
}

.card {
    width: 400px;
    margin-top: 40px;
}

.image {
    display: flex;
    justify-content: center;
    height: 540px;
    margin: auto;
    cursor: pointer;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.brand {
    font-size: 34px;
    font-weight: 700;
}

.model {
    font-size: 22px;
    font-weight: 600;
}

.price {
    font-size: 20px;
    font-weight: 400;
}