.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBarMui {
  background-color: white;
  border-radius: 4px;
  width: 20vw;
}

.searchBarContainer {
  width: 26vw;
  height: 40px;
}

.searchBar {
  border-radius: 4px 0 0 4px;
  border: 0px;
  padding: 0 20px;
  font-size: 16px;

  width: 100%;
  height: 100%;
}
.searchBar:focus {
  outline: none;
  background-color: rgb(224, 224, 224);
}

.searchIcon {
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 12px 20px;
  border-radius: 0 4px 4px 0;
}

.button {
  border: 0px;
  padding: 8px 8px;
  border-radius: 0 4px 4px 0;
  background-color: #151515;
  color: white;
}