.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBarMui {
  background-color: white;
  border-radius: 4px;
  width: 20vw;
}

.searchBarContainer {
  width: 26vw;
  height: 40px;
}

.searchBar {
  border-radius: 4px 0 0 4px;
  border: 0px;
  padding: 0 20px;
  font-size: 16px;

  width: 100%;
  height: 100%;
}
.searchBar:focus {
  outline: none;
  background-color: rgb(224, 224, 224);
}

.searchIcon {
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 12px 20px;
  border-radius: 0 4px 4px 0;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.searchIcon:hover {
  background-color: #2098D1;
  color: white;
}

.button {
  border: 0px;
  padding: 8px 8px;
  border-radius: 0 4px 4px 0;
  background-color: #151515;
  color: white;
}